
@{
    ViewBag.Title = "Tasks";
}

<h2>TaskTracker</h2>

<p>
    This page demonstrates the use of the User.IsInRole() method to display appropriate UI components
    based on the currently signed-in user.  On this page, Observers can only read the tasks and their
    statuses.  Writers can add new tasks, but cannot change the status of an existing task.  Approvers
    can change the status of an existing task, but cannot add a new task.  Admins can peform all actions,
    including deleting tasks altogether.
</p>

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("TaskSubmit", "Tasks", FormMethod.Post))
    {
        <div class="container" style="padding-top:10px">
            <div class="row"> 
                <div class="col-md-2"><h4>Task</h4></div>
                <div class="col-md-2"><h4>Status</h4></div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-2"><h4>Delete</h4></div>
                }
            </div>


            @foreach (WebApp_RoleClaims_DotNet.Models.Task task in (List<WebApp_RoleClaims_DotNet.Models.Task>)ViewData["tasks"])
            {
                <div class="row">
                    <div class="col-md-2">@task.TaskText</div>
                    @if (User.IsInRole("Approver") || User.IsInRole("Admin"))
                    {
                        <div class="col-md-2">
                            <select name="@task.TaskID">
                                @foreach (string status in WebApp_RoleClaims_DotNet.Utils.Globals.Statuses)
                                {
                                    if (status == task.Status)
                                    {
                                        <option value="@status" selected>@status</option>
                                    }
                                    else
                                    {
                                        <option value="@status">@status</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2">@task.Status</div>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-1"><input type="checkbox" name="delete" value="@task.TaskID" /></div>
                        <div class="col-md-5"></div>
                    }
                    else
                    {
                        <div class="col-md-8"></div>
                    }
                </div>
            }
        </div>

        <div style="padding-top:30px">
            @if (User.IsInRole("Admin") || User.IsInRole("Writer") || User.IsInRole("Approver"))
            {
                <div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Writer"))
                    {
                        <div style="float:left;padding-right:10px;display:inline-block">
                            <div style="float:left;padding-right:10px">Add New Task:</div>
                            <div style="float:left"><input type="text" name="newtask"></div>
                        </div>
                    }

                    <input type="submit" value="UpdateTasks" />
                </div>
            }
        </div>
    }
}

